.order-list{

}

.order-list > .item{
    height: 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    font-size: 16px;
    color: #333;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 4px;
}

a:hover {
    text-decoration: none;
}

h3 {
    text-align: center;
}